<ion-tabs>
  <ion-tab-bar
    translucent="translucent"
    slot="bottom"
  >
    <button
      class="unit"
      type="button"
      [routerLink]="['/tabs/tab1']"
      routerLinkActive="button-active"
    >
      <ion-icon name="home-outline"></ion-icon>
    </button>

    <button
      class="unit"
      type="button"
      [routerLink]="['/login']"
    >
      <ion-icon name="shield-checkmark-outline"></ion-icon>
    </button>

    <button
      class="unit"
      type="button"
    >
      <ion-icon name="person-outline"></ion-icon>
    </button>
  </ion-tab-bar>
</ion-tabs>